@model IEnumerable<BookManagementLib.BusinessObject.Product>
@using BookManagementLib.BusinessObject;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout"+TempData.Peek("role")+".cshtml";
    var categories = ViewData["categories"] as List<Category>;
}
<link rel="stylesheet" href="~/css/views.css" />
<h1>Products</h1>
<p class="btn-info">@ViewBag.Notify</p>
<p class="btn-info">@TempData["Msg"]</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Search by Id, Name, ISBN: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
@using (Html.BeginForm())
{
    <p>
        Category: @Html.DropDownList("CategoryID", new SelectList(categories, "CategoryId", "CategoryName", ViewBag.CategoryID), "Select Category")
        <input type="submit" value="Filter" />
    </p>
}
<p class="text-info">Stock: @ViewBag.Stock</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Id", "Index", new { sortOrder = ViewBag.IdSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn13)
            </th>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForAgesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>

            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    <img src="@item.Image" runat="server" class="form-control-range" />
                    @*@Html.DisplayFor(modelItem => item.Image)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn13)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForAgesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>

                -->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId })
                @{ if ((int) TempData.Peek("role") == 2)
                    {
                        <a> | @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })</a>
                    }
                }
                
            </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(ViewBag.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @ViewBag.PreDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(ViewBag.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @ViewBag.NextDisabled">
    Next
</a>
