@model IEnumerable<BookManagementLib.DataAccess.Report>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dashboardStatistic = ViewData["DashboardStatistic"] as Tuple<int, int>;
    DateTime datetime = new DateTime();
}

<h1>Reports</h1>

<div><b>Dashboard statistic</b><br /></div>
<table class="table">
    <tr>
        <th>This Month Import</th>
        <th>This Month Export</th>
    </tr>
    <tr>
        <td class="text-success">@dashboardStatistic.Item1</td>
        <td class="text-danger">@dashboardStatistic.Item2</td>


    </tr>
</table>

@using (Html.BeginForm())
{
<p>
    Filter by Created Date: @Html.EditorFor(d => datetime, "FilterDate")
    <button class="btn-outline-light">@Html.ActionLink("Clear", "Index", "Reports", new { datetime = "01/01/0001" }, new { @style = "text-decoration:none; color:black" })</button>
    
    <input type="submit" value="Search" />
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReceiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSupplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReceiver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                </td>
            </tr>
        }
    </tbody>
</table>
